.hero {
    background-color: #fff;
    padding: 20px;
  }
  
  .hero-text {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: linear-gradient(to bottom, #ad60dd, #ff7f50);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
  }