.navbar {
    background: linear-gradient(to bottom, #af67db, #ff7f50);
    padding: 20px;
    border-radius: 20px;
  }
  
  .navbar a {
    color: black;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 10px;
  }
  