.signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .error-message,
.success-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.error-message {
  background-color: #ffcccc;
  color: #cc0000;
}

.success-message {
  background-color: #ccffcc;
  color: #006600;
}
